.craftingpossibs {
	display: inline-block;
	position: absolute;
    width: 64px;
    height:64px;
}
.craftingthumbs:hover {
    cursor: pointer;
}
.craftingtooltips {
  float: right;
}
#craftingheader {
	text-align: center;
}
#craftingpossibilities {
  overflow-y: scroll;
  height: 94%;
}
#craftingpossib0 {
   left: 15%;
   top: 40%;
}
#craftingpossib1 {
   left: 30%;
   top: 40%;
}
#craftingpossib2 {
   left: 45%;
   top: 40%;
}
#craftingpossib3 {
   left: 60%;
   top: 40%;
}
#craftingpossib4 {
   left: 75%;
   top: 40%;
}
#craftingpossib5 {
   left: 15%;
   top: 71%;
}
#craftingpossib6 {
  left: 30%;
   top: 71%;
}
#craftingpossib7 {
  left: 45%;
   top: 71%;
}
#craftingpossib8 {
  left: 60%;
   top: 71%;
}
#craftingpossib9 {
   left: 75%;
   top: 71%;
}

