#inventory {
  background-color: #555;
  color:white;
}
#inventorybanner {
  position: absolute;
  height: 20%;
  width: 100%;
  top: 0px;
  left: 0px;
  font-size: 33px;
  text-align: center;
}
#inventorymain {
  top: 20%;
  position: absolute;
  width: 100%;
  height:80%;
  display: inline-block;
}
.inventoryslots {
  position: relative;
  display: inline-block;
  padding: 2px;
  margin: 5px;
}
.inventoryslots:hover {
  cursor: pointer;
  background-color: #6A6969;
}
#inventorytooltip {
  font-size: 10pt;
  position: absolute;
  z-index: 1;
  top: -100%;
  right: 105%;
  width: 500px;
  border: 1px solid black;
}
.itemamount {
  position: absolute;
  left: 0px;
  top: 0px;
}
